services:
  crypto:
    build: .  # Build from local Dockerfile
    image: ecc-thesis  # Use the local image you built
    volumes:
      - .:/workspace:delegated
    working_dir: /workspace
    stdin_open: true
    tty: true
    command: bash